<ul class="sidebar-list">
    <li data-position="-1" class="unclickable"></li>
    <li data-position="1"><a href="#home" data-position="0" class="home selected"><i class="fa fa-home fa-lg"></i><span class="title">Home</span></a></li>
    <li data-position="2"><a href="#charts/songs"  class="charts" data-position="1"><i class="fa fa-bar-chart-o fa-lg"></i><span class="title">Charts</span></a></li>
    <li data-position="3"><a href="#discover" class="discover" data-position="2"><i class="fa fa-music fa-lg"></i><span class="title">Discover</span></a></li>
    <li data-position="4"><a href="#library" class="library" data-position="3"><i class="fa fa-folder-open fa-lg"></i><span class="title">Library</span></a></li>
    <li data-position="5"><a href="#playlists" class="playlists" data-position="4"><i class="fa fa-cog fa-navicon"></i><span class="title">Playlist</span></a></li>
    <li data-position="-1" class="unclickable"></li>
</ul>