<div class="contentwrapper">
    <div class="contentcolumn">
        <div class="innertube">
            <h3>Videos</h3>
            <div class="videos content-section"></div>
            <span class="btn-standard btn-load-more btn-more-videos">More videos</span>

            <h3 class="albums-header">Albums</h3>
            <div class="albums content-section"></div>
            <span class="btn-standard btn-load-more btn-more-videos">More albums</span>
        </div>
    </div>
</div>

<div class="leftcolumn">
    <div class="innertube">

        <h2 class="artist"></h2>

        <div class="action-bar">
            <span class="btn-round highlight btn-play-artist"><i class="fa fa-play fa-sm icon"></i><span class="title">Play</span></span>
        </div>

        <div class="profile content-section">
            <div class="avatar-wrapper">
                <img class="avatar" src=""/>
                <div class="overlay btn-play-artist"><i class="fa fa-play fa-lg"></i></div>
            </div>
        </div>

        <div class="artist-metric"><span class="artist-hotness"></span> Hotness</div>
        <div class="artist-metric"><span class="artist-popularity"></span> Familiarity</div>

        <h3>Tags</h3>
        <div class="tags content-section"></div>

        <h3>Songs</h3>
        <div class="songs content-section"></div>

        <h3 class="bio-title">Biography</h3>
        <div class="bio content-section"></div>
    </div>

</div>

<div class="rightcolumn">
    <div class="innertube">
        <h3>Similar Artists</h3>
        <div class="similar content-section"></div>
    </div>
</div>

