
<div class="charts-header-left">
    <h3 class="chart-title"></h3>
</div>

<div class="charts-header-right">
    <div class="button-bar">
        <span class="btn-chart-songs button selected"><a href="#charts/songs">Songs</a></span>
        <span class="btn-chart-artists button"><a href="#charts/artists">Artists</a></span>
        <span class="btn-chart-genres button"><a href="#charts/genres">Genres</a></span>
        <span class="btn-chart-trending button"><a href="#charts/trending">Trending</a></span>
    </div>
</div>



<div class="charts-content">
</div>