<div id="artistSearchResults" class="searchResultSection">
    <h2>Artists</h2>
    <div class="content"></div>
</div>

<span class="searchSeparator"></span>

<div id="videoSearchResults" class="searchResultSection">
    <h2>Videos</h2>
    <div class="content"></div>
</div>

<span class="searchSeparator"></span>

<div id="albumSearchResults" class="searchResultSection ">
    <h2>Albums</h2>
    <div class="content"></div>
</div>

<span class="searchSeparator"></span>

<div id="trackSearchResults" class="searchResultSection">
    <h2>Songs</h2>
    <div class="content"></div>
</div>


<span class="searchSeparator"></span>


<div id="genreSearchResults" class="searchResultSection">
    <h2>Genres</h2>
    <div class="content"></div>
</div>





