<div class="contentwrapper">
    <div class="contentcolumn">
        <div class="innertube">

            <h3>Artists </h3>
            <div class="artists content-section"></div>

            <h3>Albums </h3>
            <div class="albums content-section"></div>

        </div>
    </div>
</div>

<div class="leftcolumn">
    <div class="innertube">

        <h2 class="tag-name title"><span class="title"></span></h2>

        <div class="action-bar">
            <span class="btn-round highlight btn-play-radio"><i class="fa fa-play fa-sm icon"></i><span class="title">Play</span></span>
        </div>

        <!--<h3>Info </h3>-->
        <div class="info content-section"></div>

        <h3>Similar</h3>
        <div class="similar-tags content-section"></div>

    </div>

</div>

<div class="rightcolumn">
    <div class="innertube">

        <h3>Songs</h3>
        <div class="songs content-section"></div>

    </div>
</div>
