
<div id="headerControlsLeft">

    <div class="search-bar">
        <form id="searchForm">
            <input id="searchInput" type="text">
        </form>
    </div>

    <!--<button class="player-button btn-player-prev" title="Previous">&laquo;</button>
    <button class="player-button btn-player-play" title="Play">P</button>
    <button class="player-button btn-player-next" title="Next">&raquo;</button>-->

    <div class="player-controls">
        <i class="fa fa-backward fa-lg btn-player-prev" ></i>
        <span class="btn-play-border"><i class="fa fa-play fa-lg btn-player-play"></i></span>
        <i class="fa fa-forward fa-lg btn-player-next"></i>
    </div>

    <span class="player-current-time">0:00</span>
</div>


<div id="headerControlsMiddle">
    <div id="progressWrapper">
        <div id="loadProgressBar"></div>

        <div id="playProgressWrap">
            <div id="playProgressBar"></div>
        </div>


        <div id="playerTrackInfo"></div>
    </div>
</div>


<div id="headerControlsRight">
    <span class="player-total-time">0:00</span>

</div>


